body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  background: #F1F1F1;
}

.days {
  font-size: .8333vw;
}

.input_calc {
  font-size: .9896vw;
  font-weight: 700;
  background: transparent;
  text-transform: uppercase;
  width: 100%;
}

input::placeholder {
  font-size: .9896vw;
  opacity: 0.5;
  font-weight: normal;
}

.wrapper_calc {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper_main {
  position: relative;
}

.calc_main {
  display: flex;
  gap: .2604vw;
}

.calendar {
  width: 18.75vw;
  height: 2.6563vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: .026vw solid #969FA8;
}

.calendar.calendar_active {
  padding: .2604vw;
  background: #FFF;
}

.calendar-inf {
  padding: .6771vw 1.4583vw;
  text-transform: uppercase;
  font-size: .9896vw;
  font-weight: 300;
  color: #434C4E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.calendar-inf.calendar-inf_active {
  padding: .2604vw .6771vw;
  background: #D4F6FF;
  justify-content: start;
  gap: .4167vw;
  margin-right: .2604vw;
  height: 100%;
}

.clear_hint {
  opacity: 0;
  display: none;
  position: absolute;
  bottom: 0;
  transform: translate(-43%,100%);
  transition: all .3s;
  z-index: 10;
}

.hint_bg {
}

.hint_bg svg{
  width: 9.375vw;
  height: auto;
}

.hint_text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25%, 150%);
  white-space: nowrap;
  z-index: 2;
  font-size: .8333vw;
}

.calen_clear-wrapper {
  height: 100%;
  padding: .2604vw;
  display: none;
  align-items: center;
  background: #D4F6FF;
  position: relative;
}

.calen_open svg {
  width: 1.3021vw;
  height: auto;
}

.calen_clear svg {
  width: 1.3021vw;
  height: auto;
}

.cal_date svg {
  width: 1.5625vw;
  height: auto;
}

.calen_clear-wrapper:hover {
  background: #2879FF;
}

.calen_clear-wrapper:hover button svg path {
  stroke: #FFF;
}

.calen_clear-wrapper:hover .clear_hint {
  opacity: 1;
  display: block;
}

.calen_open {
  display: flex;
  align-items: center;
}

.cal-inf {
  display: flex;
  gap: .2604vw;
  align-items: center;
  width: 13.0208vw;
  white-space: nowrap;
}

.btn_calc {
  display: flex;
  justify-content: space-between;
}

table {
  clear: both;
  width: 100%;
  border: .026vw solid #969FA8;
  border-collapse: collapse;
  color: #444;
}

td {
  width: 2.6563vw;
  height: 2.6563vw;
  text-align: center;
  vertical-align: middle;
  border: .026vw solid #969FA8;
}

.calc_color-theme {
  font-size: .9896vw;
  color: #2961FE;
}

.cal_date {
  position: relative;
  font-size: .9896vw;
  border: .026vw solid #969FA8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5729vw .3125vw;
}

.btn_nav {
  display: flex;
  align-items: center;
}

.list_date {
  display: flex;
  align-items: center;
  gap: .5208vw;
}

.calendar_window {
  position: absolute;
  width: 18.75vw;
  background: #FFF;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  z-index: 1;
}

.calendar_window.calendar_window-open {
  opacity: 1;
  visibility: visible;
}

td button {
  width: 100%;
  height: 100%;
  color: #6CA3FE;
  background: #F6F6F6;
}

button {
  font-size: .8333vw;
  color: inherit;
  background: transparent;
}

.date_checked {
  background: #2879FF;
  color: #FFF;
}

.date_checked-list {
  background: #D4F6FF;
  color: #2961FE;
}


.cal-list {
  top: 2.6563vw;
  left: -0.0521vw;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  transform: translateY(-2.6563vw);
}

.cal-list-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cal-el {
  width: 18.75vw;
  display: block;
  height: 2.6563vw;
  background: #FFF;
  border: .026vw solid #969FA8;
  border-bottom: 0;
  transition: all .1s;
}

.cal-el:last-child {
  border-bottom: .026vw solid #969FA8;
}

.cal-el:hover {
  background: #EFF0F0;
}

.calc_apply {
  margin-top: .1042vw;
  display: none;
  width: 18.75vw;
  padding: .7292vw .5208vw;
  justify-content: flex-end;
  align-items: center;
  gap: 1.0417vw;
  background: #F6F6F6;
  box-shadow: 0vw .2083vw .7813vw 0vw rgba(0, 0, 0, 0.10);
  z-index: 0;
  position: absolute;
  top: 26.8229vw;
  right: 0;
}

.btn_apply {
  display: flex;
  padding: .2083vw .4167vw;
  align-items: center;
  background: #B2B4B4;
  font-size: .9896vw;
  color: #FFF;
}

.btn_apply.btn_apply_active {
  background: #2879FF;
}

.rest_apply {
  color: #B2B4B4;
  font-size: .9896vw;
}

.rest_apply.rest_apply_active {
  color: #2879FF;
}

.rest_apply.rest_apply_active:hover {
  text-decoration: underline;
}

.apply_mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #FFF;
  display: none;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  gap: .5208vw;
  font-size: .9896vw;
}

.btn_apply-mobile {
  width: 100%;
  padding: .7813vw 0;
  text-align: center;
  color: #FFF;
  background: #B2B4B4;
}

.rest_apply-mobile {
  width: 100%;
  padding: .7813vw 0;
  text-align: center;
  border: .0521vw solid #2961FE;
  color: #2961FE;
}

.btn_apply-mobile.btn_apply_active {
  background: #2879FF;
}

.calen_error {
  position: absolute;
  bottom: -1.875vw;
  left: 0;
  color: #C80000;
  font-size: .9896vw;
  display: none;
  gap: .2604vw;
  align-items: center;
  padding-left: .3646vw;
}

.head_mobile {
  height: 3.1771vw;
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
}

.head_mobile svg{
  width: 1.3021vw;
  height: auto;
}

.head_mobile a{
  display: flex;
  align-items: center;
}

.head_mobile-text {
  color: #2879FF;
  font-size: .9896vw;
  font-weight: 700;
}

@media(max-width:1250px) {


.days {
  font-size: 1.28vw;
}

.input_calc {
  font-size: 1.52vw;
  font-weight: 700;
  background: transparent;
  text-transform: uppercase;
  width: 100%;
}

input::placeholder {
  font-size: 1.52vw;
  opacity: 0.5;
  font-weight: normal;
}

.wrapper_calc {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper_main {
  position: relative;
}

.calc_main {
  display: flex;
  gap: .4vw;
}

.calendar {
  width: 28.8vw;
  height: 4.0801vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: .0399vw solid #969FA8;
}

.calendar.calendar_active {
  padding: .4vw;
  background: #FFF;
}

.calendar-inf {
  padding: 1.04vw 2.24vw;
  text-transform: uppercase;
  font-size: 1.52vw;
  font-weight: 300;
  color: #434C4E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.calendar-inf.calendar-inf_active {
  padding: .4vw 1.04vw;
  background: #D4F6FF;
  justify-content: start;
  gap: .64vw;
  margin-right: .4vw;
  height: 100%;
}

.clear_hint {
  opacity: 0;
  display: none;
  position: absolute;
  bottom: 0;
  transform: translate(-43%,100%);
  transition: all .3s;
  z-index: 10;
}

.hint_bg {
}

.hint_bg svg{
  width: 14.4vw;
  height: auto;
}

.hint_text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25%, 150%);
  white-space: nowrap;
  z-index: 2;
  font-size: 1.28vw;
}

.calen_clear-wrapper {
  height: 100%;
  padding: .4vw;
  display: none;
  align-items: center;
  background: #D4F6FF;
  position: relative;
}

.calen_open svg {
  width: 2vw;
  height: auto;
}

.calen_clear svg {
  width: 2vw;
  height: auto;
}

.cal_date svg {
  width: 2.4vw;
  height: auto;
}

.calen_clear-wrapper:hover {
  background: #2879FF;
}

.calen_clear-wrapper:hover button svg path {
  stroke: #FFF;
}

.calen_clear-wrapper:hover .clear_hint {
  opacity: 1;
  display: block;
}

.calen_open {
  display: flex;
  align-items: center;
}

.cal-inf {
  display: flex;
  gap: .4vw;
  align-items: center;
  width: 20vw;
  white-space: nowrap;
}

.btn_calc {
  display: flex;
  justify-content: space-between;
}

table {
  clear: both;
  width: 100%;
  border: .0399vw solid #969FA8;
  border-collapse: collapse;
  color: #444;
}

td {
  width: 4.0801vw;
  height: 4.0801vw;
  text-align: center;
  vertical-align: middle;
  border: .0399vw solid #969FA8;
}

.calc_color-theme {
  font-size: 1.52vw;
  color: #2961FE;
}

.cal_date {
  position: relative;
  font-size: 1.52vw;
  border: .0399vw solid #969FA8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .88vw .48vw;
}

.btn_nav {
  display: flex;
  align-items: center;
}

.list_date {
  display: flex;
  align-items: center;
  gap: .8vw;
}

.calendar_window {
  position: absolute;
  width: 28.8vw;
  background: #FFF;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  z-index: 1;
}

.calendar_window.calendar_window-open {
  opacity: 1;
  visibility: visible;
}

td button {
  width: 100%;
  height: 100%;
  color: #6CA3FE;
  background: #F6F6F6;
}

button {
  font-size: 1.28vw;
  color: inherit;
  background: transparent;
}

.date_checked {
  background: #2879FF;
  color: #FFF;
}

.date_checked-list {
  background: #D4F6FF;
  color: #2961FE;
}


.cal-list {
  top: 4.0801vw;
  left: -0.08vw;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  transform: translateY(-4.0801vw);
}

.cal-list-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cal-el {
  width: 28.8vw;
  display: block;
  height: 4.0801vw;
  background: #FFF;
  border: .0399vw solid #969FA8;
  border-bottom: 0;
  transition: all .1s;
}

.cal-el:last-child {
  border-bottom: .0399vw solid #969FA8;
}

.cal-el:hover {
  background: #EFF0F0;
}

.calc_apply {
  margin-top: .16vw;
  display: none;
  width: 28.8vw;
  padding: 1.12vw .8vw;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6vw;
  background: #F6F6F6;
  box-shadow: 0vw .32vw 1.2001vw 0vw rgba(0, 0, 0, 0.10);
  z-index: 0;
  position: absolute;
  top: 41.2vw;
  right: 0;
}

.btn_apply {
  display: flex;
  padding: .32vw .64vw;
  align-items: center;
  background: #B2B4B4;
  font-size: 1.52vw;
  color: #FFF;
}

.btn_apply.btn_apply_active {
  background: #2879FF;
}

.rest_apply {
  color: #B2B4B4;
  font-size: 1.52vw;
}

.rest_apply.rest_apply_active {
  color: #2879FF;
}

.rest_apply.rest_apply_active:hover {
  text-decoration: underline;
}

.apply_mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #FFF;
  display: none;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  gap: .8vw;
  font-size: 1.52vw;
}

.btn_apply-mobile {
  width: 60vw;
  padding: 1.2001vw 0;
  text-align: center;
  color: #FFF;
  background: #B2B4B4;
}

.rest_apply-mobile {
  width: 60vw;
  padding: 1.2001vw 0;
  text-align: center;
  border: .08vw solid #2961FE;
  color: #2961FE;
}

.btn_apply-mobile.btn_apply_active {
  background: #2879FF;
}

.calen_error {
  position: absolute;
  bottom: -2.88vw;
  left: 0;
  color: #C80000;
  font-size: 1.52vw;
  display: none;
  gap: .4vw;
  align-items: center;
  padding-left: .56vw;
}

.head_mobile {
  height: 4.88vw;
  display: none;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: .8vw 0;
  background: #FFF;
}

.head_mobile svg{
  width: 2vw;
  height: auto;
}

.head_mobile a{
  display: flex;
  align-items: center;
}

.head_mobile-text {
  color: #2879FF;
  font-size: 1.52vw;
  font-weight: 700;
}

}

@media(max-width:850px) {


  .days {
    font-size: 1.8824vw;
  }
  
  .input_calc {
    font-size: 2.2353vw;
    font-weight: 700;
    background: transparent;
    text-transform: uppercase;
    width: 100%;
  }
  
  input::placeholder {
    font-size: 2.2353vw;
    opacity: 0.5;
    font-weight: normal;
  }
  
  .wrapper_calc {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .wrapper_main {
    position: relative;
  }
  
  .calc_main {
    display: flex;
    gap: .5882vw;
  }
  
  .calendar {
    width: 42.3529vw;
    height: 6.0001vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .0587vw solid #969FA8;
  }
  
  .calendar.calendar_active {
    padding: .5882vw;
    background: #FFF;
  }
  
  .calendar-inf {
    padding: 1.5294vw 3.2941vw;
    text-transform: uppercase;
    font-size: 2.2353vw;
    font-weight: 300;
    color: #434C4E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .calendar-inf.calendar-inf_active {
    padding: .5882vw 1.5294vw;
    background: #D4F6FF;
    justify-content: start;
    gap: .9412vw;
    margin-right: .5882vw;
    height: 100%;
  }
  
  .clear_hint {
    opacity: 0;
    display: none;
    position: absolute;
    bottom: 0;
    transform: translate(-43%,100%);
    transition: all .3s;
    z-index: 10;
  }
  
  .hint_bg {
  }
  
  .hint_bg svg{
    width: 21.1765vw;
    height: auto;
  }
  
  .hint_text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 150%);
    white-space: nowrap;
    z-index: 2;
    font-size: 1.8824vw;
  }
  
  .calen_clear-wrapper {
    height: 100%;
    padding: .5882vw;
    display: none;
    align-items: center;
    background: #D4F6FF;
    position: relative;
  }
  
  .calen_open svg {
    width: 2.9412vw;
    height: auto;
  }
  
  .calen_clear svg {
    width: 2.9412vw;
    height: auto;
  }
  
  .cal_date svg {
    width: 3.5294vw;
    height: auto;
  }
  
  .calen_clear-wrapper:hover {
    background: #2879FF;
  }
  
  .calen_clear-wrapper:hover button svg path {
    stroke: #FFF;
  }
  
  .calen_clear-wrapper:hover .clear_hint {
    opacity: 1;
    display: block;
  }
  
  .calen_open {
    display: flex;
    align-items: center;
  }
  
  .cal-inf {
    display: flex;
    gap: .5882vw;
    align-items: center;
    width: 29.4118vw;
    white-space: nowrap;
  }
  
  .btn_calc {
    display: flex;
    justify-content: space-between;
  }
  
  table {
    clear: both;
    width: 100%;
    border: .0587vw solid #969FA8;
    border-collapse: collapse;
    color: #444;
  }
  
  td {
    width: 6.0001vw;
    height: 6.0001vw;
    text-align: center;
    vertical-align: middle;
    border: .0587vw solid #969FA8;
  }
  
  .calc_color-theme {
    font-size: 2.2353vw;
    color: #2961FE;
  }
  
  .cal_date {
    position: relative;
    font-size: 2.2353vw;
    border: .0587vw solid #969FA8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2941vw .7059vw;
  }
  
  .btn_nav {
    display: flex;
    align-items: center;
  }
  
  .list_date {
    display: flex;
    align-items: center;
    gap: 1.1765vw;
  }
  
  .calendar_window {
    position: absolute;
    width: 42.3529vw;
    background: #FFF;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 1;
  }
  
  .calendar_window.calendar_window-open {
    opacity: 1;
    visibility: visible;
  }
  
  td button {
    width: 100%;
    height: 100%;
    color: #6CA3FE;
    background: #F6F6F6;
  }
  
  button {
    font-size: 1.8824vw;
    color: inherit;
    background: transparent;
  }
  
  .date_checked {
    background: #2879FF;
    color: #FFF;
  }
  
  .date_checked-list {
    background: #D4F6FF;
    color: #2961FE;
  }
  
  
  .cal-list {
    top: 6.0001vw;
    left: -0.1176vw;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    transform: translateY(-6.0001vw);
  }
  
  .cal-list-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .cal-el {
    width: 42.3529vw;
    display: block;
    height: 6.0001vw;
    background: #FFF;
    border: .0587vw solid #969FA8;
    border-bottom: 0;
    transition: all .1s;
  }
  
  .cal-el:last-child {
    border-bottom: .0587vw solid #969FA8;
  }
  
  .cal-el:hover {
    background: #EFF0F0;
  }
  
  .calc_apply {
    margin-top: .2353vw;
    display: none;
    width: 42.3529vw;
    padding: 1.6471vw 1.1765vw;
    justify-content: flex-end;
    align-items: center;
    gap: 2.3529vw;
    background: #F6F6F6;
    box-shadow: 0vw .4706vw 1.7648vw 0vw rgba(0, 0, 0, 0.10);
    z-index: 0;
    position: absolute;
    top: 60.5882vw;
    right: 0;
  }
  
  .btn_apply {
    display: flex;
    padding: .4706vw .9412vw;
    align-items: center;
    background: #B2B4B4;
    font-size: 2.2353vw;
    color: #FFF;
  }
  
  .btn_apply.btn_apply_active {
    background: #2879FF;
  }
  
  .rest_apply {
    color: #B2B4B4;
    font-size: 2.2353vw;
  }
  
  .rest_apply.rest_apply_active {
    color: #2879FF;
  }
  
  .rest_apply.rest_apply_active:hover {
    text-decoration: underline;
  }
  
  .apply_mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #FFF;
    display: none;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    gap: 1.1765vw;
    font-size: 2.2353vw;
  }
  
  .btn_apply-mobile {
    width: 88.2353vw;
    padding: 1.7648vw 0;
    text-align: center;
    color: #FFF;
    background: #B2B4B4;
  }
  
  .rest_apply-mobile {
    width: 88.2353vw;
    padding: 1.7648vw 0;
    text-align: center;
    border: .1176vw solid #2961FE;
    color: #2961FE;
  }
  
  .btn_apply-mobile.btn_apply_active {
    background: #2879FF;
  }
  
  .calen_error {
    position: absolute;
    bottom: -4.2353vw;
    left: 0;
    color: #C80000;
    font-size: 2.2353vw;
    display: none;
    gap: .5882vw;
    align-items: center;
    padding-left: .8235vw;
  }
  
  .head_mobile {
    height: 7.1765vw;
    display: none;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    padding: 1.1765vw 0;
    background: #FFF;
  }
  
  .head_mobile svg{
    width: 2.9412vw;
    height: auto;
  }
  
  .head_mobile a{
    display: flex;
    align-items: center;
  }
  
  .head_mobile-text {
    color: #2879FF;
    font-size: 2.2353vw;
    font-weight: 700;
  }
  
}

@media(max-width:640px) {

  .days {
    font-size: 2.5001vw;
  }
  
  .input_calc {
    font-size: 2.9688vw;
    font-weight: 700;
    background: transparent;
    text-transform: uppercase;
    width: 100%;
  }
  
  input::placeholder {
    font-size: 2.9688vw;
    opacity: 0.5;
    font-weight: normal;
  }
  
  .wrapper_calc {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .wrapper_main {
    position: relative;
  }
  
  .calc_main {
    display: flex;
    gap: .7812vw;
  }
  
  .calendar {
    width: 46.875vw;
    height: 7.9689vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .078vw solid #969FA8;
  }
  
  .calendar.calendar_active {
    padding: .7812vw;
    background: #FFF;
  }
  
  .calendar-inf {
    padding: 2.0312vw 4.375vw;
    text-transform: uppercase;
    font-size: 2.9688vw;
    font-weight: 300;
    color: #434C4E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .calendar-inf.calendar-inf_active {
    padding: .7812vw 2.0312vw;
    background: #D4F6FF;
    justify-content: start;
    gap: 1.25vw;
    margin-right: .7812vw;
    height: 100%;
  }
  
  .clear_hint {
    opacity: 0;
    display: none;
    position: absolute;
    bottom: 0;
    transform: translate(-43%,100%);
    transition: all .3s;
    z-index: 10;
  }
  
  .hint_bg svg{
    width: 28.125vw;
    height: auto;
  }
  
  .hint_text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 150%);
    white-space: nowrap;
    z-index: 2;
    font-size: 2.5001vw;
  }
  
  .calen_clear-wrapper {
    height: 100%;
    padding: .7812vw;
    display: none;
    align-items: center;
    background: #D4F6FF;
    position: relative;
  }
  
  .calen_open svg {
    width: 3.9063vw;
    height: auto;
  }
  
  .calen_clear svg {
    width: 3.9063vw;
    height: auto;
  }
  
  .cal_date svg {
    width: 4.6875vw;
    height: auto;
  }
  
  .calen_clear-wrapper:hover {
    background: #2879FF;
  }
  
  .calen_clear-wrapper:hover button svg path {
    stroke: #FFF;
  }
  
  .calen_clear-wrapper:hover .clear_hint {
    opacity: 1;
    display: block;
  }
  
  .calen_open {
    display: flex;
    align-items: center;
  }
  
  .cal-inf {
    display: flex;
    gap: .7812vw;
    align-items: center;
    white-space: nowrap;
    width: 100%;
  }
  
  .btn_calc {
    display: flex;
    justify-content: space-between;
  }
  
  table {
    clear: both;
    width: 100%;
    border: .078vw solid #969FA8;
    border-collapse: collapse;
    color: #444;
  }
  
  td {
    width: 7.9689vw;
    height: 7.9689vw;
    text-align: center;
    vertical-align: middle;
    border: .078vw solid #969FA8;
  }
  
  .calc_color-theme {
    font-size: 2.9688vw;
    color: #2961FE;
  }
  
  .cal_date {
    position: relative;
    font-size: 2.9688vw;
    border: .078vw solid #969FA8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7187vw .9375vw;
  }
  
  .btn_nav {
    display: flex;
    align-items: center;
  }
  
  .list_date {
    display: flex;
    align-items: center;
    gap: 1.5625vw;
  }
  
  .calendar_window {
    position: absolute;
    width: 46.875vw;
    background: #FFF;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 1;
  }
  
  .calendar_window.calendar_window-open {
    opacity: 1;
    visibility: visible;
  }
  
  td button {
    width: 100%;
    height: 100%;
    color: #6CA3FE;
    background: #F6F6F6;
  }
  
  button {
    font-size: 2.5001vw;
    color: inherit;
    background: transparent;
  }
  
  .date_checked {
    background: #2879FF;
    color: #FFF;
  }
  
  .date_checked-list {
    background: #D4F6FF;
    color: #2961FE;
  }
  
  
  .cal-list {
    top: 7.9689vw;
    left: -0.1562vw;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    transform: translateY(-7.9689vw);
  }
  
  .cal-list-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .cal-el {
    width: 46.875vw;
    display: block;
    height: 7.9689vw;
    background: #FFF;
    border: .078vw solid #969FA8;
    border-bottom: 0;
    transition: all .1s;
  }
  
  .cal-el:last-child {
    border-bottom: .078vw solid #969FA8;
  }
  
  .cal-el:hover {
    background: #EFF0F0;
  }
  
  .calc_apply {
    margin-top: .3125vw;
    display: none;
    width: 46.875vw;
    padding: 2.1876vw 1.5625vw;
    justify-content: flex-end;
    align-items: center;
    gap: 3.1249vw;
    background: #F6F6F6;
    box-shadow: 0vw .625vw 2.3439vw 0vw rgba(0, 0, 0, 0.10);
    z-index: 0;
    position: absolute;
    top: 80.4687vw;
    right: 0;
  }
  
  .btn_apply {
    display: flex;
    padding: .625vw 1.25vw;
    align-items: center;
    background: #B2B4B4;
    font-size: 2.9688vw;
    color: #FFF;
  }
  
  .btn_apply.btn_apply_active {
    background: #2879FF;
  }
  
  .rest_apply {
    color: #B2B4B4;
    font-size: 2.9688vw;
  }
  
  .rest_apply.rest_apply_active {
    color: #2879FF;
  }
  
  .rest_apply.rest_apply_active:hover {
    text-decoration: underline;
  }    
  
  .btn_apply-mobile {
    width: 100%;
    padding: 2.3439vw 0;
    text-align: center;
    color: #FFF;
    background: #B2B4B4;
  }
  
  .rest_apply-mobile {
    width: 100%;
    padding: 2.3439vw 0;
    text-align: center;
    border: .1562vw solid #2961FE;
    color: #2961FE;
  }
  
  .btn_apply-mobile.btn_apply_active {
    background: #2879FF;
  }
  
  .calen_error {
    position: absolute;
    bottom: -5.625vw;
    left: 0;
    color: #C80000;
    font-size: 2.9688vw;
    display: none;
    gap: .7812vw;
    align-items: center;
    padding-left: 1.0937vw;
  }
  
  .head_mobile {
    height: 9.5313vw;
    display: none;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    padding: 1.5625vw 8.3333vw;
    background: #FFF;
  }
  
  .head_mobile svg{
    width: 3.9063vw;
    height: auto;
  }
  
  .head_mobile a{
    display: flex;
    align-items: center;
  }
  
  .head_mobile-text {
    color: #2879FF;
    font-size: 3.9583vw;
    font-weight: 700;
  }
  
}

@media(max-width:480px) {
  .apply_mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #FFF;
    display: none;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    gap: 2.0833vw;
    font-size: 3.9584vw;
    padding: 1.5625vw 8.3333vw;
  }

  .apply_mobile button{
    font-size: inherit;
  }

  .days {
    font-size: 19px;
  }

  .calen_open svg {
    width: 5.2084vw;
    height: auto;
  }
  
  .calen_clear svg {
    width: 5.2084vw;
    height: auto;
  }
  
  .cal_date svg {
    width: 6.25vw;
    height: auto;
  }

  .head_mobile {
    width: 100%;
    display: flex;
  }

  .calendar-inf{
    font-size: 3.9583vw;
  }

  .input_calc{
    font-size: 3.9583vw;
  }

  .input_calc::placeholder{
    font-size: 3.9583vw;
  }

  .calendar {
    width: 100%;
    height: 12.5vw;
  }

  .cal-el {
    width: 39.0625vw;
  }

  .cal-inf {
    width: 100%;
  }

  .calendar_window {
    width: 100%;
  }

  .calc_color-theme{
    font-size: 3.9583vw;
  }

  .calc_color-theme button{
    font-size: 3.9583vw;
  }

  .cal_date {
    padding: 10.9997px 6px;
  }

  td{
    width: 12.7083vw;
    height: 12.7083vw;
  }

  .wrapper_main{
    width: 100%;
  }

  .wrapper_calc {
    padding: 8.3333vw;
  }

  .calendar_wrapper {
    width: 100%;
  }

  .calc_main {
    width: 100%;
    padding-top: 3.1771vw;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  body {
    background: #FFF;
  }
}

.list_date-mobile {
  position: absolute;
  padding-top: 25.4168vw;
  padding-bottom: 25vw;
  background: #FFF;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.list_date-mobile.cal-list-open {
  opacity: 1;
  visibility: visible;
}

.list_year-mobile-wrapper {
  align-self: flex-start;
  padding: 0 8.3333vw;
}

.input_list-wrapper-box{
  padding: 0 8.3333vw;
  display: none;
  width: 100%;  
  position: fixed;
  top: 9.375vw;
  z-index: 10;
}

.input_list-wrapper {
  display: flex;
  width: 100%;  
  height: 12.7084vw;
  padding: 2.0832vw 53.9584vw 2.0832vw 8.3332vw;
  align-items: center;
  gap: 3.1252vw;
  background: #D4F6FF;
  
}

.input_list {
  background: transparent;
  font-size: 3.9584vw;
  font-weight: 700;
  color: #000;
}

.input_list::placeholder {
  color: #000;
  font-size: 3.9584vw;
  opacity: 1;
  font-weight: 700;
}

.list_mobile {
  margin-top: 4.1668vw;
  display: flex;
  flex-direction: column;
  gap: 6.25vw;
  font-size: 3.3332vw;
}

.input_list-icon{
  display: flex;
  align-items: center;
}

.input_list-icon svg{
  width: 5.2084vw;
  height: auto;
}

.list_mobile-wrapper input {
  display: none;
}

.input_radio-calen {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3.1252vw;
}

.input_radio-calen::before {
  content: "";
  display: inline-block;
  height: 7.0832vw;
  width: 7.0832vw;
  background: #D9D9D9;
  border-radius: 50%;
  transition: all .3s;
}

.input_radio-calen::after {
  position: absolute;
  content: "";
  display: block;
  height: 2.5vw;
  width: 2.5vw;
  background: #FFF;
  border-radius: 50%;
  top: 2.2916vw;
  left: 2.2916vw;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
}

.list_mobile-wrapper input:checked+.input_radio-calen::before {
  background: #2879FF;
}

.list_mobile-wrapper input:checked+.input_radio-calen::after {
  opacity: 1;
  visibility: visible;
}